@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$white: #fff;
$gray: gray;
$black: #111;
$lightgray: lightgray;
$primary-color: #dc0f63;
$light: #eee;
$primary-font: "Poppins", sans-serif;
